//Color
$black: #000000;
$dark-grey: #282829;
$white: #ffffff;
$white-smoke: #eeeff1;
$white-1: #f0f0f1;
$darkest-blue: #0f2137;
$dark-blue: #13246b;
$light-blue: #1094c2;
$rust-brown: #621407;
$peachy: #cd8874;
$cool-green: #82b3a9;
