<div id="homeCarousel">
    <div class="carousel-slide kingc">
        <div class="column-left">
            <div class="slide-text">          
                <div class="slide-content">
                    <h2>Save on Style</h2>
                    <h4>30% off</h4>
                    <div>King C Gillette Range</div>
                    <p>
                        Everything you need to help you master your style.
                    </p>
                </div>
                
                <a href="https://gillette.com.au/kingcgillette/" class="button button--primary button--white" tabindex="0">Buy now</a>
            </div>
        </div>
        <div class="column-right">
            <div class="slide-image">
                <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/kcg-ultimate-grooming-kit-2x.png" alt="">
            </div>
        </div>
    </div>
    <div class="carousel-slide venuspubichair">
        <div class="column-left">
            <div class="slide-text">        
                <div class="slide-content">
                    <div class="logo-venus"><img class="newFlag" src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/stencil/6ffe1ac0-abc5-0139-ac02-0e7f6bd41f9c/e/e81bb390-9a6d-0139-048d-5a7398253c37/img/venus/newtag.svg"> <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/stencil/6ffe1ac0-abc5-0139-ac02-0e7f6bd41f9c/e/e81bb390-9a6d-0139-048d-5a7398253c37/img/venus/logo-white.svg"></div>
                    <h1><span class="notBold">For</span> Pubic Hair &amp; Skin</h1>
                    
                    <h3>available now</h3>
                </div>                
                <a href="https://gillette.com.au/pubic-grooming/venus/" class="button" tabindex="0">Learn More</a>
            </div>
        </div>
        <div class="column-right">
            <div class="slide-image">
                <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/venus-pubic-grooming-pack-transparent-1000.png" alt="">
            </div>
        </div>
    </div>
    <div class="carousel-slide freestand">
        <div class="column-left">
            <div class="slide-text">
                <h2>
                    LIMITED OFFER FREE RAZOR CASE OR STAND
                </h2>
                <h4>
                    When you subscribe
                </h4>
                
                <a href="/razor-blades/razors/" data-anchor="feature-products" class="button button--primary button--light" tabindex="0"> Subscribe now</a>
                <span class="slide-subtext" tabindex="0">Subscription purchases for Venus will receive a razor case and Gillette will receive a razor stand.</span>
            </div>
        </div>
        <div class="column-right">
            <div class="slide-image">
                <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/home-page-razor-stand.png" alt="">
            </div>
        </div>
    </div>
    <div class="carousel-slide heated">
        <div class="iconBest">
            <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/time.png" alt="">
            <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/best-of.png" alt="">
        </div>
        <div class="column-left">
            <div class="slide-text">
                <h2>The World’s First Heated Razor</h2>
                
                <p>Experience the warmth and comfort of the greatest shave on the planet</p>
                <a href="/gillette-labs-heated-razor/" class="button button--primary button--white" tabindex="0">Buy now</a>
            </div>
        </div>
        <div class="column-right">
            <div class="slide-image">
                <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/hr-campaign-foreground-highres-min.png" alt="">
            </div>
        </div>
    </div>
    <div class="carousel-slide delivered">
        <div class="column-left">
            <div class="slide-text">
                <h2>OUR BEST BLADES DELIVERED DIRECT</h2>
                <span class="icons">
                    <span class="icon">
                        <span class="icon-img">
                            <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/stencil/6ffe1ac0-abc5-0139-ac02-0e7f6bd41f9c/e/e81bb390-9a6d-0139-048d-5a7398253c37/img/banner-delivered/delivery.svg"
                                alt="Free Delivery">
                        </span>
                        <span>Free Delivery</span>
                    </span>
                    <span class="icon">
                        <span class="icon-img">
                            <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/stencil/6ffe1ac0-abc5-0139-ac02-0e7f6bd41f9c/e/e81bb390-9a6d-0139-048d-5a7398253c37/img/banner-delivered/order.svg"
                                alt="4th Order Free">
                        </span>
                        <span>4th Order Free</span>
                    </span>
                    <span class="icon">
                        <span class="icon-img">
                            <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/stencil/6ffe1ac0-abc5-0139-ac02-0e7f6bd41f9c/e/e81bb390-9a6d-0139-048d-5a7398253c37/img/banner-delivered/handle.svg"
                                alt="Free Handle">
                        </span>
                        <span>Free Handle</span>
                    </span>
                    <span class="icon">
                        <span class="icon-img">
                            <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/stencil/6ffe1ac0-abc5-0139-ac02-0e7f6bd41f9c/e/e81bb390-9a6d-0139-048d-5a7398253c37/img/banner-delivered/cancel.svg"
                                alt="Cancel Anytime">
                        </span>
                        <span>Cancel Anytime</span>
                    </span>
                </span>
                <a href="https://gillette.com.au/razor-blades/razors/" class="button button--primary button--light"
                    tabindex="0">Subscribe now</a>
            </div>
        </div>
        <div class="column-right">
            <div class="slide-image">
                <img src="https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/delivery-hero-cases.png"
                    alt="">
            </div>
        </div>
    </div>
</div>